[2016-11-12 22:59] Rosey opened #2 "Multiple inline styles not closed in the correct order"
Example of something that would fail:

**bold text _with italic inside_** _that continues after bold doesn't_

This should be rendered as:

[code]

But instead is being rendered as

[code]

I think we'll have to keep track of what inline "tags" are currently open and make sure we close/reopen nested children if a parent closes before the child is done.

[2016-11-12 23:34] Rosey commented on #2
https://github.com/Rosey/markdown-draft-js/pull/3

[2016-11-12 23:34] #2 closed

[2017-07-05 16:02] joepio opened #17 "Empty title tags '#' give error when converted to draftJS"
First of all, thank you so much for sharing this plugin!

An error occurs when a markdown line is converted to DraftJS with one or multiple `#` symbols that is not followed by regular characters. A header block is created, but since it does not have a `text` attribute, it's length cannot be calculated.

[code]

The bug can be replicated like this
[code]

If we take the constructed object, and add

[2017-09-05 15:29] Rosey commented on #17
Darn sorry for such a long delay in my reply, I somehow missed the notification of this issue being opened and so I didn't even know there was anything to respond to until I was randomly viewing the repo this morning! Two months later 😳

Good bug report, I'll make sure it gets fixed 🙂  🐛

[2017-09-07 02:57] Rosey commented on #17
Opened a PR :)

[2017-09-07 02:57] #17 closed

[2017-09-17 10:18] joepio opened #19 "markdownToDraft adds newline to code blocks"
Hi, thanks again for this awesome library!

When I try to convert an MD code block to Draft, a newline is added to the bottom of the code block. For my application, this means that each time a user switches from Draft editing to MD editing, a newline is added to all his code blocks.

[code]

[2017-09-17 10:57] joepio commented on #19
On a related note, perhaps adding tests for idempotency would be a good idea.

[code]

[2017-09-17 11:04] joepio opened #20 "markdownToDraft crashes on empty list items"
Similar to #17

[code]

[code]

[2017-09-18 15:57] Rosey commented on #20
Darn, thanks :(

[2017-09-18 18:40] Rosey commented on #19
Interesting, and frustrating!

Just looking into this a bit, I think the additional newline has to do with the library I'm using to parse markdown, remarkable (https://github.com/jonschlinkert/remarkable) - When I look at the tokens it generates, there is an additional newline there too. It would probably be possible to write a work-around knowing that it does this but I am sad about workarounds b

[2017-09-19 15:43] Rosey commented on #20
Fix should be out now as 0.3.3

[2017-09-19 15:43] #20 closed

[2017-09-20 22:56] juliankrispel opened #23 "Can't resolve 'babel-polyfill'"
babel-polyfill seems to be a required dependency but not defined as a peerdep in the package.json

Do we really need babel-polyfill for this package?

[2017-09-21 03:14] Rosey commented on #23
Shoot :/

At a glance, right now it does use `reverse` and  `forEach`. Thinking though it would at the very least be better to change this to just require those two specific shims.

[2017-09-21 03:33] Rosey commented on #23
Perhaps even better would be a refactor to not need any shims? I'm wondering if there are best practices for libraries like this, obviously the less crap the better, but does that mean we're never allowed to use any new(ish) JS methods in a library?

I see `draft-js-plugins` uses es2015 methods but [advises requiring babel-polyfill separately](https://github.com/draft-js-plugins/draft-js-plugins/b

[2017-09-21 05:57] juliankrispel commented on #23
My recommendation would be - recommend it's usage but don't explicitly
require it 👍 - the package user wouldn't have to install it if they don't
need/want it...

Again - Thanks for replying so quick - you bear the markings of an
excellent open sourcerer 🙌
On Thu, Sep 21, 2017 at 4:33 AM Rose <notifications@github.com> wrote:

[2017-09-21 18:35] Rosey commented on #23
Thanks for pointing this out & advising! I'll look into making the change.... soon. ha. Not sure exactly when :) Now you have me wondering about another dependency that I can't remember if it's actually needed - `markdown`. (eg do we need `markdown` _and_ `remarkable` or did I include markdown early on before I discovered remarkable? Can't remember.) So want to check in on that too.

[2017-09-21 18:59] juliankrispel commented on #23
@Rosey I believe it was the latter (you replaced markdown with remarkable and forgot about it) - Everybody does it btw, I add and forget about them all the time - Wouldn't it be nice if there was a tool which automatically does this for us

[2017-09-21 19:00] juliankrispel opened #25 "Mind if I setup travis for you?"
so that you have CI in your prs?

[2017-09-21 19:08] Rosey commented on #25
Yeah I do in fact have circleCI running when I open my own prs but as you have noticed it seems to not be running for other people's PRs 🤔  https://circleci.com/gh/Rosey/markdown-draft-js

I just found a setting under the config called "build forked pull requests" that was previously turned off (I just turned it on!) so that may fix the issue

[2017-09-21 19:08] juliankrispel commented on #25
awesome :+1:

[2017-09-21 19:08] #25 closed

[2017-09-21 22:28] #23 closed

[2017-09-24 17:09] Rosey commented on #19
PR to fix here: https://github.com/Rosey/markdown-draft-js/pull/26 🙂

[2017-09-24 17:09] #19 closed

[2017-09-25 06:38] charlespeters opened #27 "Microservice version"
Hey!

I created a microservice version of your module! [draft-to-markdown.now.sh](https://draft-to-markdown.now.sh/)

Your module is awesome, so useful for what I'm working on!

https://github.com/charlespeters/draft-as-markdown

[2017-09-25 15:56] Rosey commented on #19
Should be out now in 0.4.1!

[2017-09-25 15:58] Rosey commented on #27
Wow really cool! Thanks for sharing :) I'll have to add some kind of "additional projects" section to the readme for stuff like this.

[2017-10-04 09:18] Jpunt opened #28 "Outputs incorrect markdown"
When the user has bold enabled and starts typing, this will result in invalid markdown every time the user types a space:

[code]

Because the space after the word "bold" is before the two stars instead of after them, this will result in a plain text (containing the actual stars).

[2017-10-04 14:31] Rosey commented on #28
Interesting, this is an issue I'm aware of and have commented on before in code. I actually thought there was a work-around in place for it already but I'll take a look, because it's clearly not working!

[2017-10-05 03:46] Rosey commented on #28
Wait, is this when converting draft to markdown or vice versa? Because I just added some tests and it _is_ working when converting draft to markdown which I thought was the case you were talking about here? I did add a pr with some changes to how it works to handle more tabs and stuff but this basic case I think did already work properly?

[2017-10-05 18:12] Jpunt commented on #28
Yeah, that is exactly what I mean 🤔 Your test looks great. But the issue seems to be apparent still. You can also see it in the [demo](https://rosey.github.io/markdown-draft-js/). Enable bold, type `test ` and see the result `**test **`. Right?

Wait, I guess my example was wrong! Sorry about that 😄 When there's text after the bold part, the space gets fixed (which is your test 👍), but as long as

[2017-10-05 18:37] Rosey commented on #28
Ah ok thanks for the additional info! I'll add some tests for that situation as well and make sure my latest PR handles those cases :)

[2017-10-06 16:57] Rosey opened #32 "draft-to-markdown fails for inline styles with leading whitespace"
Eg if draft's first "bold" char is whitespace, markdown generated is this, which is not valid:

`** bold**`

It should be

` **bold**`

[2017-10-06 20:38] Rosey commented on #28
Fix just got merged - https://github.com/Rosey/markdown-draft-js/pull/31

And I have filed a separate issue to get fixed for a very similar bug: https://github.com/Rosey/markdown-draft-js/issues/32

Will do a bug fix release soon.

[2017-10-06 20:38] #28 closed

[2017-10-09 11:08] Jpunt opened #33 "markdown-to-draft fails when value is blank"
When the initial value is blank (which is very likely in my particular case), `markdownToDraft` throws:

[code]

[2017-10-11 14:57] atanasster opened #34 "A few updates"
Hi Rosey,

I sent a few updates via email if you would like to incorporate, and just so you know its not spam, I am also writing here

- Added support for Images
- Added support for UNDERLINE, SUBSCRIPT, SUPERSCRIPT
- Added support for custom inline styles (currently color, background color) - rendered as <span elements for markdown
- Enabled html tag remarkable handling (for the above need to emb

[2017-10-11 16:11] Rosey commented on #33
@Jpunt hmm, I just wrote a test case for this in order to start debugging but the test is passing for me. 🤔

[code]

I also tried running it against `convertFromRaw` in case that's where you were hitting issues, but `convertFromRaw` also seemed to handle it ok. Any thoughts on how/when you saw this?

[2017-10-12 15:13] Jpunt commented on #33
You are correct, in the way that a `markdownToDraft` with a blank value returns an empty blocks-array. Where it goes wrong is when I put this result into Draft's `createWithContent` (through `convertFromRaw`).

[code]

Should I be doing this in another way maybe?

[2017-10-22 21:05] Rosey commented on #33
:( Seems weird to me that `convertFromRaw` wouldn't mind but `createWithContent` would. Added a work-around to https://github.com/Rosey/markdown-draft-js/pull/35 though.

[2017-10-22 21:09] #33 closed

[2017-10-23 12:16] Jpunt commented on #33
Yeah, I agree it's weird. Thanks! 🎉

[2017-11-11 22:51] Rosey commented on #32
https://github.com/Rosey/markdown-draft-js/pull/36

[2017-11-11 22:51] #32 closed

[2017-11-11 23:28] Rosey opened #37 "blank newlines in markdown don't convert to draft the same way as they do to markdown"
If you check out the example, when you modify the textarea, a newline always only counts as 1, even if you have 3 in a row.

But when you modify the draft editor, each newline is converted 1:1 to markdown. This behaviour is more desireable than the markdown-to-draft behaviour!

[2017-11-12 23:11] Rosey commented on #37
I guess this is basically because of markdown syntax rules so it is "correct" although it feels whacky.

I'm going to pull request an option where users can enable non-collapsing whitespace if they so desire.

[2017-12-11 22:12] Rosey commented on #37
Sorry I have a branch that does this but I'm still conflicted over whether this should even be an option since it kind of skews the rules of markdown, so I haven't PR'd it yet. So lmk if you're waiting on this or really want it!

[2017-12-12 16:45] juliankrispel commented on #37
@Rosey I totally need/want this :D - or a client does, would be happy to help get it in :heart:

[2017-12-13 16:54] #37 closed

[2017-12-13 16:56] juliankrispel commented on #37
sweeeeet thank you @Rosey 👍 👍 👍

[2017-12-13 16:57] Rosey commented on #37
Let me know if you encounter any weirdness with it! Fingers crossed that is is bug free 🤞 😁

[2017-12-13 16:58] juliankrispel commented on #37
@Rosey if there is I'll make a pr ✌️

[2017-12-13 17:35] juliankrispel commented on #37
this is so perfectly on time btw 😍

[2017-12-14 01:41] juliankrispel opened #43 "Composed styles don't work"
Markdown like this comes out wrong:

[code]

Here the inlineStyleRanges should range from `0` to `5` and `0` to `11` respectively.

Instead, the bold style range comes out as `0-11` and the italic style length stays at `0` o_O

[2017-12-18 02:34] michelson opened #44 "Draft 2 MD on custom blocks ??"
Hello! , thanks for this awesome plugin.
I've noted that the custom conversion is possible on custom entities but in my case I've a custom block that is not present on the EntityMap

![image](https://user-images.githubusercontent.com/11976/34087442-e47b4ff2-e381-11e7-8749-0d530fddcd87.png)

How can I include a custom block  in the `draftToMarkdown` configuration ?

[2017-12-18 02:37] michelson commented on #44
sorry, I've realized that `styleItems` was the way to go

[2017-12-18 02:37] #44 closed

[2017-12-19 04:30] #43 closed

[2018-05-03 11:55] mxstbr opened #50 "Support fenced code block syntax highlighting"
GitHub lets you write fenced codeblocks with syntax highlighting:

[code]

The syntax for defining the language to highlight as is

[code]

It'd be great if `markdown-draft-js` recognized that language declaration and added either a `language` or a `syntax` field to the `data` of the code block so that e.g. the `draft-js-prism-plugin` can pick it up.

[2018-05-03 18:04] Rosey commented on #50
It would be amazing!

I think remarkable, the markdown parser we use, already supports this to some degree, so this may be quite simple to implement. Adding help wanted tag if someone wants to try, otherwise I'll take a look when I have some free time 😄

[2018-05-03 18:12] Rosey commented on #50
Yeah so the language is included as `params` already by remarkable. So may just need to add `data: item.params` to the `DefaultBlockTypes` `fence`

[2018-05-07 15:58] Rosey commented on #50
Releasing a change in `0.7.0` to include "language" as an optional data attribute to code blocks!

[2018-05-07 15:58] #50 closed

[2018-05-07 17:11] mxstbr commented on #50
Awesome, thanks for the quick response @Rosey—sorry I missed your message to test this 😅

[2018-05-07 17:29] Rosey commented on #50
hey no worries it's not your job :) Just was a favour. I did take a quick look at to be honest I think it may _not_ work well with that plugin? No error messages but I didn't see any syntax highlighting either. But the data does seem to be correct so I thought perhaps it was an issue with the plugin rather than with the converter.  Or I just was rushing my testing and did something wrong 🙃

[2018-05-11 17:34] ckoppelman opened #52 "Draft-to-markdown needs to escape special characters"
If I enter `_abc_` into the draft editor, I'd expect to see the Markdown editor have `\_abc\_`.

There are a set of similar test cases:

1. `* sdfsfsf` => `\* sdfsfsf`
2. `abc **sdasda**` => `abc \*\*sdasda\*\*`
3. `4. abc` => `4\. abc`
4. ``c `abc` d`` => ``c \`abc\` d``
5. `> sdfjsflsdkfj` => `\> sdfjsflsdkfj`
6. `\abc` => `\\abc`

[2018-05-11 17:40] ckoppelman opened #53 "mid-word inline italics"
If I type into the draft editor: abcXYZabc where XYZ is italic , it will render the markdown as `abc_XYZ_abc` (this is fine).  When that gets converted back into DraftJS, the text is rendered as `abc_XYZ_abc`.

[2018-05-11 18:03] Rosey commented on #53
Yeah this is sort of a... hm. I've noticed this before and I'm not sure what the best way to fix it is. It seems markdown doesn't work like that, eg if I type this in here on github: abc_XYZ_abc it won't be italicized. There has to be a _space_ **before** the \_ symbol for it to get picked up. But by inserting a space when converting from draft to markdown, we are changing the content which may al

[2018-05-11 18:04] Rosey commented on #52
Thank you for pointing this out! Will prioritize a fix.

I've never noticed this because I use a markdown plugin on my draft editor that auto-converts to italics etc when you use those characters, so it never has come up for me 😄

[2018-05-11 18:07] Rosey commented on #53
Tentatively labeling as a wontfix pending further discussion on the best course of action 😄

[2018-05-11 18:08] #34 closed

[2018-05-11 19:07] ckoppelman commented on #53
Perhaps using `*` for emphasis is the best approach.  Intraword underscores are not respected, but intraword asterisks are.  (I just learned this this moment).

[2018-05-11 19:07] ckoppelman commented on #52
By the way, I just learned the proper way to escape backticks in inline code spans -- it's not backslashes.

Apparently you just need to use different numbers of backticks at the start and end of your code.  So if you have a single backtick literal inside your code span, you need to start/end with at least two backticks.  If you have two backtick literals together inside a code span, you need to u

[2018-05-11 22:37] Rosey commented on #52
ahh, opened a pr. I can't even describe to you how messed up I am these days, last night I only got 4 hours of sleep, so... yep. I guess if I were a good nerd I'd just wait to fix bugs until I can actually do it properly but lmk how you feel about this fix. I'll merge it if @ckoppelman and @nicholaswbowen are ok with it as an interim solution?

[2018-05-16 22:08] nicholaswbowen commented on #52
This is a good interim solution. I hope to make some contributions some time soon, maybe I'll take a crack at this. For my use case, people posting links into the editor is very common. That PR will let me delete code atleast :) . Thanks!

[2018-05-16 22:40] Rosey commented on #52
Just out of curiosity - if people are posting `[link](http://google.com)` ...why on earth are they pasting such specific markdown code and NOT wanting it converted? Like I can see how benign characters like `*` and `_` that could have other meanings shouldn't be converted, but links are so very _markdowny_

[2018-05-16 22:42] Rosey opened #55 "Escape complex markdown when converting from draft to markdown"
Previous issue outlining the problem: https://github.com/Rosey/markdown-draft-js/issues/52
And current code for escaping basic markdown, with a comment on its limitations - https://github.com/Rosey/markdown-draft-js/blob/master/src/draft-to-markdown.js#L3

[2018-05-16 22:44] Rosey commented on #52
Made a new issue for some of the outstanding work that needs to be done :) https://github.com/Rosey/markdown-draft-js/issues/55 Thank you to both of you!

[2018-05-16 22:44] #52 closed

[2018-05-16 23:00] nicholaswbowen commented on #52
Oh, I think I misunderstood what you meant. I don't imagine many people would use the [link](http://google.com) syntax in the draft editor.

What my problem is that I am serializing everything as Markdown, and comments get rendered in remarkable. So if URLs have any of the escaped characters in them, it breaks the link when it gets rendered. What I am suggesting is a regex expression that detects

[2018-07-10 23:41] nicholaswbowen opened #59 "PreserveNewLines doesn't seem to work"
I have PreserveNewLines enabled in the config, but it doesn't seem to be working.

markdown
[code]
rich text actual
[code]

rich text expected
[code]

[2018-07-12 16:37] Rosey commented on #59
Just to confirm, `PreserveNewLines` camel case should be `preserveNewlines` - is it possible you're capitalizing the `L` when it should be lowercase?

[2018-07-12 16:47] nicholaswbowen commented on #59
just a typo, my bad.

This is what I am using.

let foo = markdownToDraft(md, {
    remarkableOptions: {
      preserveNewlines: true,
    },
  });

[2018-07-12 16:53] Rosey commented on #59
Ah ok if you move the `preserveNewlines` out of remarkableOptions I think it should work

[code]

Reason being that it isn't an option that exists in `remarkable`, it's an option explicitly for `markdownToDraft` so it doesn't need to be nested as something to be passed to `remarkable`. I can update the readme to be more clear!

[2018-07-24 16:32] Rosey commented on #59
just checking in :)

I tested out the demo on the gh-pages branch and added `preserveNewlines: true` and it seemed to work as expected there as well!

[2018-08-06 09:31] igorlesnenko opened #60 "getBlockMap is not a function"
`contentState.getBlockMap is not a function`

I'm getting this error when trying to put converted content into DraftJS state

`EditorState.createWithContent(contentState, decorator);`

What am I doing wrong?

[2018-08-06 09:59] igorlesnenko commented on #60
Ok, I need to it like this `EditorState.createWithContent(convertFromRaw(contentState), decorator);`

[2018-08-06 09:59] #60 closed

[2018-08-09 14:07] igorlesnenko opened #61 "Unnecessary hash symbol escape"
`#hashtag` is not considered as heading in markdown, as there is no space after `#`.
We should not escape it like this: `\#hashtag`, when converting from DraftJS to markdown.

https://spec.commonmark.org/0.28/#example-34

[2018-08-09 19:20] Rosey opened #63 "Sometimes text is missing"
I just noticed this:

If I enter the following markdown:

[code]

markdown-to-draft renders

(The "testing" bit just seems to get swallowed up)

[2018-08-09 19:35] Rosey commented on #59
HMM ok I can recreate after updating to the latest version of markdown-draft-js, sorry! I was running an older version before :(

[2018-08-09 19:47] Rosey commented on #59
What's interesting and concerning is that there's a test for this and it is passing 😦

[2018-08-10 20:49] Rosey commented on #63
https://github.com/Rosey/markdown-draft-js/pull/65

[2018-08-10 20:49] #63 closed

[2018-08-13 09:47] igorlesnenko opened #66 "Allow to specify content for entity items"
[code]

We have a way to specify open and close, but no content.
Suggest to add:
[code]

not sure about function name

[2018-08-13 21:46] #61 closed

[2018-08-13 21:50] Rosey commented on #61
I've merged a fix for this, will get out a release shortly!

[2018-08-13 22:10] Rosey opened #69 "Need to update to CircleCI 2.0"
eek that deadline came out of nowhere.

[2018-08-14 00:34] Rosey commented on #69
https://github.com/Rosey/markdown-draft-js/pull/70

[2018-08-14 00:34] #69 closed

[2018-08-14 05:37] igorlesnenko commented on #66
The use case is to display a mention like `@nickname` as `Firstname Lastname` in draftjs. And as `@nickname` in markdown.

[2018-08-14 06:00] igorlesnenko commented on #61
@Rosey I see the issue still exists in 1.1.1

[2018-08-14 06:06] igorlesnenko commented on #61
If the line starts from the `#hashtag` it got escaped.
If `word #hashtag` it is ok

[2018-08-14 21:47] igorlesnenko opened #71 "Incorrect list conversion"
Let's say in draft-js we have following content:

That is converted to markdown as:

[code]

There should be a line between last list element `three` and the `next line`.
Otherwise, `next line` is considered as a part of the list.

[2018-08-14 22:49] Rosey commented on #61
argh, just looking

[2018-08-14 22:53] Rosey commented on #61
Ugh, `>Test` <-- this needs to be escaped, `#Test` <- this does not. Thank you markdown.

[2018-08-14 22:56] Rosey commented on #61
https://github.com/Rosey/markdown-draft-js/pull/72

[2018-08-14 22:56] Rosey commented on #71
😢

[2018-08-14 23:04] nicholaswbowen commented on #59
This Bug is looking fixed from my end. Thanks!

[2018-08-14 23:05] Rosey commented on #59
lol what the heck I didn't do anything

[2018-08-14 23:05] Rosey commented on #59
Maybe it only happens under certain cases

[2018-08-15 01:38] nicholaswbowen commented on #71
It's technically correct. If you run that markdown through remarkable it
will still render properly, you don't individually number an ordered list
in html.

On Tue, Aug 14, 2018, 3:56 PM Rose <notifications@github.com> wrote:

[2018-08-15 01:39] nicholaswbowen commented on #71
I totally misread the issue, disregard the above :D .

On Tue, Aug 14, 2018, 6:37 PM Nicholas Bowen <nicholas.w.bowen@gmail.com>
wrote:

[2018-08-15 06:09] igorlesnenko commented on #59
DraftJS -> markdown is saved correctly. But when loading from markdown to draft, newlines are collapsed

[2018-08-15 08:04] igorlesnenko commented on #71
Also for some reason
1. 2. 3. converted to 1. 1. 1.

[2018-08-15 09:17] igorlesnenko commented on #59
Also, I wonder, why DraftJS:

is converted to markdown like:

[code]

Would it be better with preserve lines enabled option to convert to:

[code]

[2018-08-15 09:54] igorlesnenko commented on #59
Also I think that just blank lines should be escaped like `\`

Otherwise it is difficult to tell for markdown parser if it is blank line within paragraph or the beginning of another paragraph

[2018-08-16 17:03] nicholaswbowen commented on #59
@Rosey I think I may have figured it out. You need to pass `{ preserveNewlines: true }` into both markdownToDraft and draftToMarkdown. I tried that to troubleshoot and it appeared to fix it.

[2018-08-21 17:37] Rosey opened #74 "Need to fix circleci config"
I just used the default migration but it seems to be working extra hard to set up a docker image, there has to be a better way 🙃

[2018-08-22 20:48] #74 closed

[2018-08-26 17:03] samuelcolvin opened #79 "Error with markdownToDraft and tables"
as per the example below, `markdownToDraft` does strange things with tables, they're converted to just the last value in the last row, plus the line before the table is removed.

I know markdown-draft-js (understandably) doesn't support tables fully but it would be great if it could just leave them alone rather than messing them up.

(the `draftToMarkdown` in the last line is unnecessary, it's jus

[2018-08-26 17:04] samuelcolvin commented on #79
This seems to be a problem with the line below the heading in the table `| --- | --- |` without that it seems to work fine.

[2018-08-26 20:34] Rosey commented on #79
Oh thanks! This turned out to be a fairly easy fix, so here it is - https://github.com/Rosey/markdown-draft-js/pull/81 😄

[2018-08-26 20:34] #79 closed

[2018-08-26 20:39] Rosey commented on #71
This has been fixed

The other main bug I haven't fixed yet as a quick test on https://rosey.github.io/markdown-draft-js/ I'm not seeing the behaviour described (there _does_ seem to be the extra newline when I try it out) and I haven't tried digging any deeper than that yet!

[2018-08-26 22:15] samuelcolvin commented on #79
Great, thanks.

[2018-09-18 11:52] eLysgaard commented on #59
@Rosey I just encountered this issue as well. After looking at your sauce I noticed something at the end of the loop in `markdownToDraft`.

[code]
I think the issue stems from adding 1 because then the end of `block` is actually the next line. This makes `totalEmptyParagraphsToCreate` always come out one less than what is should be.

I tried changing it locally directly in my `node_modules` and th

[2018-09-18 16:44] Rosey commented on #59
@eLysgaard Thanks for looking into this! I just quickly tried out your change locally but one of the tests fails with this change so I think there must be more to it than just that 😢 If you're interested in attempting a fix and PR you are welcome to give it a shot though, I'd be very grateful!

TBH I'm surprised how much interest there is in this feature since markdown doesn't generally preserve n

[2018-11-19 15:51] tilds opened #87 "Two spaces and a new-line in Markdown doesn't translate into a new-line in draft-js"
Hi, I was checking out the demo: http://www.roserobertson.me/markdown-draft-js/ and noticed that if I end a line in the markdown with two spaces and a new-line then the next line is just appended on to the first in the draft-js.
This is intended?
![image](https://user-images.githubusercontent.com/8914393/48718103-065f9680-ec1b-11e8-84f2-b67d52a7b831.png)

[2018-11-20 23:50] mikeappell commented on #71
Hi Rosey! First of all, __really__ great project here: this has absolutely been a lifesaver, and fits my use-case almost 100%.

I'm experiencing what I believe to be the issue described above. If I create text in Draft.js which displays as such:
<img width="213" alt="screen shot 2018-11-21 at 12 33 04 am" src="https://user-images.githubusercontent.com/15162965/48809602-83773280-ed25-11e8-94c2-4f52

[2018-11-21 18:29] Rosey commented on #87
Hmm yeah I think that is a bug, nice catch 👍 / 😢

[2018-11-22 10:38] tilds commented on #87
I looked at it a bit more and the problem seems to be that 'hardbreak' is not handled in `markdown-to-draft.parseInline()`

Looking at the debug mode of the remarkable demo: https://jonschlinkert.github.io/remarkable/demo/ I get this:
[code]

[2018-11-22 18:00] Rosey commented on #87
ahh, very nice. OK I'm a bit busy these days but I'll try to get to this, or if anyone else who is reading this issue and has the inclination they are welcome to take it on!

[2018-12-02 03:56] Rosey commented on #71
@mikeappell thanks for putting together this detailed description and I'm sorry I haven't found the time yet to try out your recreation for myself! But I really appreciate you commenting on the issue with this 🙌

[2018-12-02 22:06] mschipperheyn opened #89 "Security vulernability reported on Snyk"
I'm not sure if you guys are aware of this:

https://snyk.io/test/npm/markdown-draft-js/1.3.0

reports a security vulnerability on Snyk. It can be solved by upgrading the `underscore.string` dependency.

[2018-12-02 22:20] Rosey commented on #89
Thanks @mschipperheyn it looks like the vulnerability is through remarkable https://github.com/jonschlinkert/remarkable/issues/310 and there's a pull request with a fix. Hopefully that gets merged soon and we can update our remarkable dependency :)

[2018-12-08 18:48] #71 closed

[2018-12-10 08:28] glitchperfect opened #91 "Is it possible to ignore certain tags"
I'm trying to exclude the conversion of links and images when converting from markdown to raw. Is there a settings flag I can set to disable it? Or maybe in the remark config?

Thank you for your work, the plugin is really handy

[2018-12-10 18:53] Rosey commented on #91
Yes, check out the remarkable config here - https://github.com/jonschlinkert/remarkable under `disable` 😄 hope that helps!

[2018-12-10 18:53] #91 closed

[2019-01-03 11:59] husseinbob commented on #34
I don't see any reference to UNDERLINE in the code...

[2019-01-07 16:48] #87 closed

[2019-01-07 16:50] Rosey commented on #87
Thanks to @kamilbielawski a fix for this has been released under `1.4.0`

[2019-01-07 16:52] Rosey commented on #87
(and thanks @tilds for your detailed comment about what the issue was too 😄)

[2019-01-15 07:54] forMine opened #94 "some styles like underline do not work"
So far, I've found that the underline and through styles don't work correctly

[2019-01-15 15:35] Rosey commented on #94
This is something you can add on when passing in options to the conversion tool if you like, it should be a super straightforward addition :) I think it was excluded from being built in since underline/strikethrough aren't a part of basic markdown syntax, but I'm open to adding them anyway at this point 😊

[2019-01-15 15:36] #94 closed

[2019-02-01 22:19] Rosey opened #95 ""escape markdown characters" incorrectly escapes when a link url contains an underscore or other special character."

[2019-02-06 02:11] elimisteve commented on #59
I am also interested in seeing newlines fully preserved!

@nicholaswbowen Can you please provide a bit more detail? Your solutions sounds great.

[2019-02-18 14:49] martingregoire opened #96 "Support hr block in markdown-to-draft"
The markdown `hr` block (horizontal rule) is currently not supported by markdown-to-draft.

When the markdown contains the `hr` block code, for example this line:

[code]

This code is suppressed (see below) when converting the markdown to the raw Draft.js object.

We would like to add a custom `blockType` to handle these `hr` blocks, like this:

[code]

So that we could use the `blockRendererFn`

[2019-02-20 12:58] husseinbob commented on #94
@forMine: I've just been battling the same issue. Turns out there's a lot of common WYSIWYG features which are missing in MD.

For this example, we assume `++` wraps underline...

[code]

[2019-02-20 14:21] ElGoorf commented on #94
@forMine: I've just been battling the same issue. Turns out there's a lot of common WYSIWYG features which are missing in MD.

For this example, we assume `++` wraps underline...

[code]

[2019-02-21 22:05] Rosey commented on #96
great issue write up and thank you for pRing a solution as well 🙂

[2019-02-21 22:05] #96 closed

[2019-02-21 22:05] Rosey commented on #95
https://github.com/Rosey/markdown-draft-js/pull/98 😢

[2019-02-21 22:05] #95 closed

[2019-02-22 12:11] Resin01 opened #99 "nbsp instead of new line"
Is there any way to get it to convert a single linebreak as `double space`, and double linebreak as `\n`
Currently I can't seem to find a way to handle this  :/

[2019-05-22 21:20] yekijnuy commented on #59
@Rosey Not sure if this is an issue with my code (most likely).  But when I convert `draft` to `markdown` I get the following (example):

`"White↵↵Space"`

Where the return characters were initially line spaces I wanted to include.  I tried to run this when submitting my editorState:

draftToMarkdown(convertToRaw(contentState), {
        preserveNewlines: true,
      })

Thoughts?

[2019-05-22 21:23] Rosey commented on #59
and it was stripped despite you not wanting it to be stripped? 🙁

I kind of want to change the approach with `preserveNewLines` and instead of the logic we currently have, replace it with a `\n&nbsp;` which I think will get-around the default markdown newline escaping and would probably fix most of these bugs. You could probably even do that yourself in the meantime by updating the markdown string

[2019-06-07 14:59] jdalegonzalez commented on #89
@Rosey It appears that @jonschlinkert isn't ever interested in fixing this problem.  Is there another library you could use instead of remarkable?  I am willing to attempt a PR.

[2019-06-10 16:14] Rosey commented on #89
Hmm I chose remarkable because it has really great support for custom markdown options (eg designing your own markdown syntax for things like mentions) which I wasn't able to find with other tools. If you know of another markdown parser that is equally flexible then it could be possible to switch 🙂

I suppose another option is to fork remarkable and patch the vulnerabilities and use that fork inst

[2019-06-13 21:55] jdalegonzalez commented on #89
I’m with you.  I like the library and in fact, I offered a PR to the author that met his initial request of ripping out argparse and replacing it with another library he’d identified.  He decided not to accept that PR (or any of the many others from other authors that followed.)  I can only assume that he is either trying to make a point, not interested in upkeep on this project or is working on a

[2019-06-13 22:52] jonschlinkert commented on #89
If you did indeed do what you're saying, my apologies, I didn't ignore the PR intentionally. I would love to merge it and get rid of these issues.

Can you link to the pr?

[2019-06-14 02:50] jdalegonzalez commented on #89
Sure.

https://github.com/jonschlinkert/remarkable/pull/327

On Thu, Jun 13, 2019 at 6:52 PM Jon Schlinkert <notifications@github.com>
wrote:

[2019-07-21 16:19] alexccl commented on #59
I put up a PR for this fix.  I think some of the bug reproducibility confusion was caused by the newlines coming after styled vs un-styled blocked.  Everything works as expected when the blocks are not styled, but you will lose a newline on each conversion when a block is styled.

Won't cause an issue during conversion:
[code]

Will cause an issue during conversion:
[code]

[2019-08-03 19:52] #59 closed

[2019-08-03 19:53] Rosey commented on #59
Closing since @alexccl 's PR got merged.

[2019-08-03 20:15] Rosey commented on #89
https://github.com/Rosey/markdown-draft-js/pull/104 Updates to the latest version of remarkable which resolves 2 out of 3 security alerts on snyk.

[2019-08-03 20:54] TrySound commented on #89
Is the third one comes from remarkable too?

[2019-08-03 20:58] TrySound commented on #89
Ah, I see. It comes from autolinker. That dependency is evaluated a lot. I not sure it's safe to upgrade it in patch dependency. I will publish major bump soon. It will include autolinker upgrade.

[2019-08-07 20:21] Rosey opened #106 "Set up proper changelog and release notes"
When I started on this project I was just kind of doing it for myself but I think it has enough people using it that I should be a bit more diligent (and probably should have been from the start, let's be honest) about explaining what changed in each version.

[2019-08-07 20:25] Rosey commented on #89
Thanks so much @TrySound  for knocking out that last one 🙂

https://snyk.io/test/npm/markdown-draft-js/2.0.0 I think we're all clear (for now at least 🙃 )

did a major release bump for this one since the remarkable dependency was major and I didn't want to risk any backwards compatibility issues. However I don't _think_ there should be any.

[2019-08-07 20:25] #89 closed

[2019-09-23 01:53] maheshchauhan-terem commented on #94
How to handle this while converting markdown to draft syntax?

[2019-09-23 02:19] Rosey commented on #94
If you check out remarkable's documentation (this lib uses remarkable) you can turn on underline support with their extra options! Then you need to also pass in options for how it should map to draftjs (see the readme on this repo for that part)

[2019-09-23 02:38] maheshchauhan-terem commented on #94
Thanks @Rosey for such a quick reply. I will check the documentation once more, I couldn't find that option when I checked last time. It would be awesome if there are any samples which you can point out.

Thank you so much

[2019-09-23 03:48] maheshchauhan-terem commented on #94
@Rosey I tried this
markdownToDraft("Test string with **bold** and ++underline++", {
    remarkableOptions: {
      enable: {
        inline: "ins",
      },
    },
  })
but doesn't seems to work. Am I missing something?
As per this https://jonschlinkert.github.io/remarkable/demo/ clearly '++' syntax looks like a underline one.

[2019-09-23 19:41] Rosey commented on #94
@maheshchauhan-terem After enabling in remarkable you'll also need to pass in custom `blockStyles` to map the remarkable key to the draftjs version.  Try
[code]

[2019-09-23 22:57] maheshchauhan-terem commented on #94
You are awesome @Rosey . Thank you so much 🤩

[2019-10-09 17:43] Rosey opened #108 "markdown-to-draft: multi-line block quotes are squashed when preserveNewlines is `true`"
See failing test here: https://github.com/Rosey/markdown-draft-js/pull/107/commits/71b848bf9e7c1b3ed123643d2bd6095e9ecce5b0

Would only be an issue for people using `preserveNewlines: true` as by default stripping those newlines is correct markdown behaviour.

However, we have a hack around preserving newlines when the option is turned on, and in this case it isn't working correctly. The case bein

[2019-10-10 16:49] Rosey commented on #106
I set up a super basic changelog.md file but it could definitely be improved upon. I kind of hate my release workflow right now, nothing is automated and it feels like I really ought to take advantage of some automation here.

[2019-10-25 14:31] petrmarecek commented on #108
I have the same problem. Is there some solution?

[2019-10-25 16:40] Rosey commented on #108
A solution needs to be written, it's a bit tricky but doable. remarkable exposes the number of "lines" as a variable even though it strips them so we'd need to update the parser to read the difference between line numbers and then re-add the newlines in. We do this already with regular paragraphs.

Seems straightforward enough but there are some gotchas that I encountered when I tried to do a hot

[2019-12-20 16:30] RyanEdwardHall commented on #66
It would be nice to display `Firstname Lastname` but serialize as `@{userID}`

[2020-01-13 22:41] danielsnider opened #111 "preserveNewlines off by one newline"
Hi @Rosey,

I am really happy for the preserveNewlines feature. It got me closer to 1-to-1 exact matching looks when converting, but I found newline handling was still a little bit off. I was able to fix it without breaking any unit tests. My draft-js editor is pretty much this, the standard [Rich Text Editor Draft.js example](https://codepen.io/Kiwka/pen/YNYvyG).

Here is my example:

Input:
[cod

[2020-01-14 19:38] Rosey commented on #111
Thanks! Tests would be really awesome too... The newline preservation behaviour is a bit of a tricky one, lots of edge cases, I also have this issue:

https://github.com/Rosey/markdown-draft-js/issues/108

Question for you: Draft by default does a "hard" newline when you press return, so a brand new paragraph, although you can optionally insert a soft newline.  I'm wondering if the behaviour you'r

[2020-01-15 17:28] danielsnider commented on #111
I think I'll write new tests to help confirm if my issue is real.

Hopefully I don't have to modify soft vs hard new lines. I worry that I don't understand the subtleties around changing that. Hard newlines are `<p>` and soft newlines are `<br>`?

[2020-01-15 19:37] danielsnider commented on #111
I ran my new tests on master without my changes, and they failed in the same way I described in my first post. I think this means it's not just me–that my issue is legitimate. Take a look at my new committed tests https://github.com/Rosey/markdown-draft-js/pull/112/commits/af777bd3ad0b0ecac5778a20cddec16081c0f10f. What do you think?

Here's what it looks like when my new tests fail:
[code]

Thanks

[2020-01-20 11:55] antoniojps opened #113 "[Help] Custom Markdown Syntax - How to handle custom block rules and convert them into an atomic block with entity data?"
I am working in a project that has quite a few custom markdown syntax, i've been given the task to create a rich text editor for it, and have been trying to figure out how to convert the markdown to draft while handling this custom syntax.

I've written a [remarkable plugin](https://gist.github.com/antoniojps/4a8a6f34d036dc8d4b92e7ccd8102860) that handles for example an opening warning tag:
[code]

[2020-01-20 22:11] danielsnider commented on #111
Hi Rosey!

I hope you and your family are well!! No rush (family is more important) but we are waiting to hear if you have feedback or want to merge this PR (https://github.com/Rosey/markdown-draft-js/pull/112).

All the best!
Thanks again for this wonderful package!

[2020-01-20 23:21] Rosey commented on #111
I'm sorry :) we've all been down with the flu this past week and are still on the recovery! Tomorrow is doctors appointments but I'll try to find some time later this week when the toddler is in daycare to sit down and look at this 🙂

[2020-01-20 23:28] danielsnider commented on #111
Get well soon! 😊

[2020-01-21 03:36] Rosey commented on #111
Ugh I'm actually back at the hospital again so depending on how things go it may be a longer wait :(

[2020-01-22 18:18] antoniojps commented on #113
After further digging I understand that  it's [preferable to use block level metadata instead of entities.](https://github.com/facebook/draft-js/pull/216).

I've ended up being able to what I needed by hacking into the markdownToDraft function, not proud of my code but it works.

Here's the sandbox with some custom syntax and proper markdownToDraft and draftToMarkdown conversions: [https://codesan

[2020-01-22 18:18] #113 closed

[2020-01-24 17:31] Rosey commented on #111
Sorry things have been very busy around here. I'm just taking a quick look at the PR now but I'll probably have to finish looking a bit later. I think it looks good and thanks for writing tests! I just want to check your branch out locally and confirm that it still works correctly in cases where there's a blockquote followed by a paragraph, just because the comment in the code about "styled follow

[2020-01-24 17:37] danielsnider commented on #111
I totally agree about the block quotes. Great point! Test my branch if you
get a chance :-). Thank you.

I hope you are well!

On Fri, Jan 24, 2020 at 12:31 PM Rose <notifications@github.com> wrote:

[2020-01-30 17:07] Rosey commented on #111
Closing as the related PR has been merged 🙂

[2020-01-30 17:07] #111 closed

[2020-01-30 17:09] Rosey commented on #111
@danielsnider I released your fix under 2.2.0 🙂 👏 🎉

[2020-01-30 17:24] danielsnider commented on #111
Thank you! 🎉🎉

[2020-01-30 18:34] danielsnider commented on #111
@Rosey It was a pleasure to help. Thanks again for this great project.

[2020-02-13 08:23] bennymeier opened #115 "Uncaught Invariant Violation: block is not a BlockNode"
Hi,

I was upgrading draft-js from 0.10.5 to 0.11.4 and then I received some errors in the console and my react-app crashed.
`invariant.js:40 Uncaught Invariant Violation: block is not a BlockNode
    at invariant (http://localhost:3000/static/js/0.chunk.js:54726:15)
    at insertRawBlock (http://localhost:3000/static/js/0.chunk.js:35067:50)
    at http://localhost:3000/static/js/0.chunk.js:35109:

[2020-03-12 14:19] isabellachen opened #116 "Provide the code for the remarkableMentionPlugin"
Hi Rosey,

Thank you for the work on this great plugin. Would it be possible to provide the code to the `remarkableMentionPlugin` in the docs? I'm trying to create a plugin to convert the <u> htmltag to DraftJS, but I can't figure out how to write the plugin. The remarkable plugin docs are very cryptic.

In your code snippet, where does `blockEntities.mention_open` come from? Is this something cre

[2020-03-25 20:18] danielsnider commented on #116
Hi  @Rosey,

I have the same issue.

Hi @isabellachen, If you find a way to convert a mention html tag to DraftJS can you please share the code?

I'll let you know if I find a way!!

[2020-03-25 20:21] danielsnider commented on #116
@isabellachen,

Oh cool! I may have found the code:
[code]
From here: https://github.com/Rosey/markdown-draft-js/blob/master/test/markdown-to-draft.spec.js#L415

[2020-03-25 20:51] danielsnider commented on #116
I opened PR #118 adding a link to the code definition of `mentionWrapper`.

[2020-04-03 20:51] VivekNeel opened #119 "Request : support superscript/subscript?"
Hi,

Thanks for the great work. I am planning to use in favour of npmjs.com/package/draft-js-utils.

I would like to know do you have any plans to support sub/sup tag?

[2020-05-05 01:23] merylstreep opened #120 "markdown to draft: links, mentions, and strikethrough not preserved (typescript)"
hi there,

i noticed that although the standard styles like headings, bold, and italics are supported i am still unable to render mentions, links, or strikethrough properly.
this is the code line i use to extract editor content as markdown (to then store in a DB):

this is the code im using to render it back up as readOnly

i noticed when displaying previously saved strikethrough text, the text wa

[2020-05-08 14:29] Rosey commented on #120
Hello 🙂

Something like mentions you'd need to define your own rules for, since it isn't supported by markdown normally, which isn't included in your code here.  You can checkout my README, and @danielsnider kindly added some additional information on how one might go about this here - https://github.com/Rosey/markdown-draft-js/issues/116 (he also opened a PR to update the readme but I'm a bit beh

[2020-05-08 14:40] Rosey commented on #119
Thanks! Sorry for the very long delay in reply.

I haven't thought about this deeply but I wanted to quickly say SOMETHING.

Remarkable supports superscript and subscript (https://github.com/jonschlinkert/remarkable/blob/fa88dcac16832ab26f068c30f0c070c3fec0d9da/demo/example.md)

Which means you should be able to write your own code for this using the `blockStyles` option, like

(warning, untested

[2020-05-09 23:51] #120 closed

[2020-05-13 07:14] VivekNeel commented on #119
Thank you, I will try and let you know how it goes!

[2020-05-20 21:15] Rosey commented on #115
I suspect this issue is not related to the markdown-draft-js library as this stack trace doesn't reference any code in this repo as far as I can see.

Just to double check/try to help out though: Are you able to paste some of your code from `convertFromDraftStateToRaw `?

As you opened this issue several months ago I assume you have either solved the problem or moved on with your life 😆 sorry for

[2020-05-21 18:09] Leonarto opened #122 "Bug when translating link entities"
Hi!, your library is awesome!.

I've been encountering a cornercase bug. Whenever I set up a link entity on the end of the whole draft object, it breaks and translates to the following **[LINK** instead of **[LINK]
 (www.my_link.com)**. Any link entity ranged in between all blocks and chars work perfectly.

Example:

in that example LINK_1 translates to markdown but LINK_2 translates to [LINK_2

T

[2020-05-21 19:11] Rosey commented on #122
Thanks for the report! Sounds like it's worth digging into. As you may have read in the README I am crazy swamped with IRL demands right now so I may not get to this quickly but perhaps someone else will. Or if not, rest assured that I have seen your issue and will look into it whenever I do have time again.

[2020-05-25 16:19] #115 closed

[2020-05-25 22:09] Rosey commented on #122
@Leonarto Not sure if you have the time, but if you do it would be helpful to have the raw draftjs object you're trying to convert to markdown, as well as any additional options you may be passing in (preserve newlines?). I've been trying to re-create your error but everything seems to be working ok for me.

Here's an example of a raw draftjs object that worked as expected -

[code]

[2020-06-05 23:15] Leonarto commented on #122
Hi!, I'm sorry for taking so long. And you are totally right, I found out recently that this corner case error needs more conditions, is whenever you have a unicode emoticon in the same line, like this example raw object.

In this example the middle link will translate fine while the one at the end of the line won't:

[code]

[2020-06-06 00:29] Rosey commented on #122
Ah fantastic thank you! I've encountered similar bugs in the past with strings so I think I know what the problem might be :) (string length issues as outlined in this article https://mathiasbynens.be/notes/javascript-unicode)

[2020-06-14 00:56] #122 closed

[2020-06-28 07:04] FerrisLee-180505 opened #127 "The order list with index error"
**Do you want to request a *feature* or report a *bug*?**

I think is a **bug**

**What is the current behavior?**

the order list with error-index when inserting some text into 2 order list.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. You can use this jsfiddle to get started: https://jsfiddle.net/gmertk/e61z7nfa/.**

th

[2020-06-28 21:48] Rosey commented on #127
Thanks very much for this report! I'll take a look when I have a chance 😊

[2020-07-06 16:46] cabiad opened #128 "Quirk in handling of mixed bold and italics in a single word"
First up, I just wanted to say thanks for this project and especially for making the interactive demo of it so easily available. It looks like it's going to be a big help for me. It seems to have much better support for escaping markdown special characters than some alternatives I've also tried, which sets it apart. Also, thanks for setting expectations on turnaround for any discussion or a fix. I

[2020-07-06 19:16] Rosey commented on #128
Nice, thank you for the detailed report and kind words! I'll take a look when I have a chance, seems worth investigating ♥️

[2020-08-10 12:45] damianon opened #136 "Escape Markdown on draftToMarkdown"
There is the setting `escapeMarkdownCharacters` which apparently only works markdown -> draft, which is not very intuitive for me, because when loading the content i want the stored markdown to be restored to the draft state.

However there's no option to escape markdown when converting draft -> markdown, if I want to escape user inputs. Draft returns blocks with bare text and styling information.

[2020-09-15 19:17] alibosworth commented on #127
Also running into this on a project called **Flow**, it appears to have been solved [here](https://github.com/Rosey/markdown-draft-js/pull/135), though no coverage has been added for it.  I'll look at adding that.

[2020-09-15 21:27] alibosworth opened #139 "Transition from prepublish to prepare scripts?"
Hi! We had an issue where we forked this library and made some local modifications, but when using it via a sha-(and fork) specific package.json line, it wasn't working, this was because the "prepublish" script only runs before the package is published to NPM.  The fix for our fork was to duplicate the `prepublish` script as a `prepare` script, however perhaps that is a more useful stage to run at

[2020-09-16 15:42] Rosey commented on #127
Merged into main, still need to publish a new release with the fix

[2020-09-23 15:24] OmidH opened #140 "Is the HR tag supported?"
Hi,
I know that `---` is supported in Remarkable. But when sending my markdown through `markdownToDraft` all the `---`'s are filtered out. Do I do something wrong?

Here also a sample

[code]

Best,

Omid

[2020-09-24 11:58] OmidH commented on #140
Sorry had a false understanding. For anyone who is looking into this here is my sample

[code]

[2020-09-24 11:58] #140 closed

[2020-10-02 15:09] alibosworth opened #141 "Demo uses a very old version"
The demo at http://www.roserobertson.me/markdown-draft-js/ is using 2.0.0.  It'd be great if the demo page was updated, but also listed the version it is using so that people who are running into issues might be able to understand why their usage doesn't match the demo.

[2020-10-02 15:14] alibosworth opened #142 "Documentation is unclear about collapsing newlines"
I'm finding it hard to understand this:

Does collapsing newlines mean that only a max of one empty line is kept (two new-line characters are retained when there are many new-line characters) or that NO empty line is kept (only one new-line character is ever kept)

[2020-10-02 15:36] alibosworth opened #144 "Blank line between paragraphs is not preserved when preserveNewlines: true enabled"
Opened a PR that shows this failing test https://github.com/Rosey/markdown-draft-js/pull/143

[2021-01-06 15:25] CarlosVazPI opened #148 "Block codes in markdown are removed"
I have a Draft editor using markdown, which I implemented using `markdown-draft-js`.

I noticed that when passing a markdown with a code block inside to markdownToDraft, the output doesn't contain any of that code block.

I set up this [codesandbox](https://codesandbox.io/s/objective-gould-1yncy?file=/src/index.js) test case to illustrate this point.

Is there any option to let markdownToDraft par

[2021-01-20 10:16] janmisek commented on #136
Until fixed, there is my attempt to resolve this. I am still debugging this, but it looks like it is working:

[code]

[2021-01-28 17:30] vmc08 commented on #94
Hi, thanks for this great library. Can't figure out ++UNDERLINED TEXT++ isn't parsed in the editor? is there any more configuration I'm missing aside from the codes above? I did that and seems like it is parsing correctly to the markdown specified (++) and as well as rendering as UNDERLINE when converting the value from markdown to draft. But doing ++TEXT++ not parsed when typing the text.

[2021-03-26 20:19] supasus commented on #144
Currently dealing with the same issue. Did you find any solution?

[2021-03-26 20:24] alibosworth commented on #144
@supasus our workaround was to remove `preserveNewlines: true` - perhaps that will work in your case?

[2021-03-26 20:41] supasus commented on #144
@alibosworth Thanks, that did the trick. If anyone ever stumbles onto this: I was trying to differentiate between a soft newline break and a paragraph break. Doing this
[code]
And setting the data-blocks margin was the solution.

[2021-03-26 20:48] alibosworth commented on #144
@supasus interesting, is this general enough that it would be a good improvement to the library? If so I'm sure @Rosey would appreciate a pull-request!

[2021-04-05 21:03] supasus commented on #122
Hi, I think this issue is still relevant in the latest version. I haven't been able to replicate it yet, but as far as I understood it seems to happen when you have two links next to each other.

[2021-04-23 19:43] Mark-Buxbaum opened #150 "draft-to-markdown mistranslates spaces"
Minor bug in draft-to-markdown:  If you have a inline style that only surrounds spaces, the generated markdown misplaces the "close" token.

For example, if your text is `hello  there` and the space in between the words hello and there has an inline-style of bold, the translated markdown is `hello    **there**`.

I have a one-line fix for this.  Add the boldfaced line below.  (This fragment starts

[2021-06-22 19:55] jpribyl opened #155 "Sample remarkable plugin does not match content beginning with a mention"
https://github.com/Rosey/markdown-draft-js/blob/0a8059cfd03f3678c5dd6c311a50acad16c28756/test/markdown-to-draft.spec.js#L372

`0` is `falsey` in JS, so this will not match a mention at the start of an editor.

A better idea here would be to use something like:
[code]

A test case could then be added:
[code]

Alternatively, it could just be a second check in the existing test:
[code]

[2021-06-22 19:58] jpribyl commented on #155
If desired, I can submit a PR with this change

[2021-07-12 18:13] tobiaspatton-s4 opened #156 "Strikethrough conversion is incomplete"
`markdownToDraft(string, options)` includes support for writing markdown with strikethrough text enclosed with  `~~` but `draftToMarkdown(rawDraftObject, options)` does not include support for creating a DraftJS inline style when the `~~` marker is encountered.

It's possible to add a custom entry to BlockStyles when invoking the conversion routine, but since default support is included in one dir

[2021-07-16 20:37] Rosey commented on #156
Thanks for your PR 🙂 merged it and will close this!

[2021-07-16 20:37] #156 closed

[2021-07-16 20:37] Rosey commented on #142
❤️

[2021-07-16 20:37] #142 closed

[2021-07-16 20:39] #119 closed

[2021-07-16 20:39] #127 closed

[2021-07-21 00:45] mashihua opened #158 "Insert four spaces before line content did not transform to html"
Open [demo](http://www.roserobertson.me/markdown-draft-js/ ) insert content in markdown editor like bellow code which lead four spaces before input content, the draft.js editor did not show any html.

[code]

[2021-07-28 09:31] chamerling opened #159 "Add more parameters to DraftToMarkdownOptions.entityItems.open/close"
Hello @Rosey,

Thanks for this nice module, I am currently enjoying adding it in our project and I am really happy about how we can handle things with it!
I will be happy to contribute to add more attributes to the open/close functions so that we can have the current block of the entity we are processing. The use case is quite simple (but useful):

In a text editor, I want to serialize things diff

[2021-10-01 22:11] Rosey commented on #159
Thanks! Just merged 🙂

[2021-10-01 22:11] #159 closed

[2021-10-01 22:11] Rosey commented on #159
(Released with 2.4.0)

[2021-11-16 17:03] mdugue commented on #148
same here. @CarlosVazPI  any news? Did you find a way to solve or work around?

[2021-11-25 09:26] Pawelh133 opened #166 "Question: Text aligin - how to convert HTML tags into raw with markdownToDraft?"
Thanks a lot for wonderful library!
Am I doing something wrong and Im not sure Im misunderstand something?

As I know text-align is not available in markdowns, so I created just html styles and added it as option into `draftDataToMarkdown` method. Here is example of this configuration:
[code]

It works fine on online editor. But when I editing document i have to do the reverse operation. I mean I

[2022-02-24 08:57] simplenotezy commented on #59
hey @Rosey this issue should actually still be open. It's still an issue when going from markdown to draft.

Expected
---
<img width="845" alt="image" src="https://user-images.githubusercontent.com/3786627/155491718-7b2da278-5a79-4ae8-9fb1-6f824ac3e315.png">

Actually happening
---
<img width="841" alt="image" src="https://user-images.githubusercontent.com/3786627/155491783-4b77c2bc-ba8e-4160-a306

[2022-03-30 09:07] AdarshPawar29 opened #173 "Unable to handle combination of ordered and unordered list"
The markdown I am writing in my editor:
[code]
Markdown I get after converting markdownToDraft:
[code]

[code]

[2022-11-15 11:16] orlandodemauro commented on #158
@Rosey first of all thank you so much for your work. I'm facing the same issue when adding a list with more than 4 space like `-      mytext`, any update on this issue?